**/libmidas.a
**/libmidas.so
test

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
bin/*
*.exe
*.out
*.app

# Clangd index
**/.cache/*
**/compile_commands.json
**/.clangd/*

# vscode
**/.vscode/*